extends main_layout

block content
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

  //- div(data-role="header")
  div.ui-header.ui-bar-a
    button.ui-btn-left.ui-btn-corner-all.ui-btn.ui-icon-arrow-l.ui-btn-icon-notext.ui-shadow
    h1.ui-title BaristAssist
    button.ui-btn-right.ui-btn-corner-all.ui-btn.ui-icon-delete.ui-btn-icon-notext.ui-shadow
  div.ui-content.ui-page-theme-a
    div.menu
      button.ui-btn.ui-btn-a.ui-icon-plus.ui-btn-icon-left.ui-shadow.ui-corner-all Create Ticket
      button.ui-btn.ui-btn-a.ui-icon-search.ui-btn-icon-left.ui-shadow.ui-corner-all View Tickets
    div.order-menu
      div.order-list.ui-grid-a
        
    div.view-menu
      div.view-list
    
    div.config-menu
      div.config-list