extends main_layout

block content
  h3 Hi. My name is Cormac. Welcome to my home, try to break everything.
  h1 Project rooms
  a(href='joker') joker
  br
  a(href='chatroom') chatroom
  br
  a(href='whiteboard') whiteboard
  br
  a(href='reflex') reflex
  br
  a(href='icarus') icarus
  br
  a(href='battleship') battleship
