extends main_layout

block content
  .content
    h1.title
      | Game 1
      span(style={'font-size': '0.25em', color: 'black'}) v1
    .input-section
      .input-box
        input(class='input-password border-style' type='text' maxlength='60' placeholder='Password')
        br
        input(class='input-button btn-enter-password border-style' type='button' value='Enter')
