extends main_layout

block content
  .content
    ul#menu
      li
        span Colour>
        input(type='color', id='color_picker', value='#000000')
      li
        span Size>
        input(type='number', id='size_picker', value='4', min='1', max='20')
        span  Max=20 Min=1 
      li
        button#clear_screen Clear Screen
      li
        form#nickname(action='')
          input(id='nickname_entry' autocomplete='off' placeholder='Change Name' maxlength='40')
          button Enter
      li
        span.testing X = 0, Y = 0
    .canvas_container
      canvas#drawing_area(width='1500' height='1500')
    #user_wrapper
      p#user_header USERS
      ul#users
    
