.content {

}
#drawing_area {
}
.canvas_container {
    border: 5px solid black;
    width: 1500px;
    height: 1500px;
}
#menu {
    margin: 0;
    padding: 0;
}
#menu li {
    display: inline-block;
    border-width: 5px 5px 0 0;
    border-style: solid;
    border-color: black;
    padding: 3px;
    min-height: 30px;
}
#menu li:first-child {
    border-left: 5px solid black;
}
#menu li span,
#menu li input,
#menu li button{
    vertical-align: top;
}
span,
#user_wrapper {
    user-select: none;
}
#user_wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    word-wrap: break-word;
    max-width: 150px;
}
#users {
    padding: 0;
    font-size: 1.25em;
    list-style-type: none;
    text-align: center;
}
#user_header {
    font-size: 3em;
    margin: 0;
}
